= form_for(@catalogs_resource) do |f|
  - if @catalogs_resource.errors.any?
    #error_explanation
      %h2
        = pluralize(@catalogs_resource.errors.count, "error")
        prohibited this catalogs_room from being saved:
      %ul
        - @catalogs_resource.errors.full_messages.each do |msg|
          %li= msg

  %table{ :width => '950', :border => '1', :cellspacing => '0'}
    %tr.tbl_content
      %td.tbl_row_header{:width => '110'} Abrev.:
      %td= f.text_field :abbr, :size => '15'

    %tr.tbl_content
      %td.tbl_row_header{:width => '110'} Nombre:
      %td= f.text_field :name
    
    %tr.tbl_content
      %td.tbl_row_header{:width => '110'} Descripción:
      %td= f.text_field :description, :size => '85'

    %tr.tbl_content
      %td.tbl_row_header{:width => '110'} Id Color:
      %td= f.select :id_color, @color_list


  %br &nbsp;

  .actions
    = f.submit 'Guardar aula'